In [9]:
!pip install pandas sklearn matplotlib seaborn

Requirement already satisfied: pandas in /opt/conda/lib/python3.6/site-packages (0.25.2)
Requirement already satisfied: sklearn in /opt/conda/lib/python3.6/site-packages (0.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.6/site-packages (3.1.1)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.6/site-packages (0.9.0)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.6/site-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.6/site-packages (from pandas) (1.16.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.6/site-packages (from pandas) (2.8.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.6/site-packages (from sklearn) (0.21.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.6/site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.6/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.6/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: scipy>=0.14.0 in /opt/conda/lib/python3.6/site-packages (from seaborn) (1.2.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.6/site-packages (from scikit-learn->sklearn) (0.14.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib) (40.9.0)
You are using pip version 19.0.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [38]:
import os, copy
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from datetime import date
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontProperties
font = FontProperties(fname='font_ch.ttf', size=14)
import seaborn as sns

from sklearn.metrics import log_loss, roc_auc_score, auc, roc_curve, accuracy_score, f1_score, brier_score_loss, classification_report, confusion_matrix, make_scorer
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
# 因為擬合(fit)與編碼(transform)需要分開, 因此不使用.get_dummy, 而採用 sklearn 的 OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [11]:
df_train = pd.read_csv('train.csv')
print(df_train.shape)
df_train


df_test = pd.read_csv('test.csv')
print(df_test.shape)
df_test

(1521787, 23)

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,...,iterm,locdt,loctm,mcc,mchno,ovrlt,scity,stocn,stscd,txkey
0,6881,113261,38038,513.80,5,0,N,0,N,N,...,0,33,172652.0,457,59333,N,0,102,0,516056
1,0,134508,45725,465.62,5,0,N,2,N,N,...,0,9,105114.0,451,0,N,5817,102,0,4376
2,6881,15408,188328,513.80,5,0,N,0,N,N,...,0,6,152458.0,457,59333,N,0,102,0,483434
3,6716,157159,29967,1016.11,5,62,N,5,N,N,...,0,5,172946.0,247,50436,N,3281,102,0,1407164
4,5975,105985,81305,713.66,5,62,N,4,N,N,...,0,6,182129.0,263,93775,N,5817,102,0,1051004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521782,6322,91008,15189,578.38,5,75,Y,8,NaN,NaN,...,0,4,191642.0,209,38222,N,5817,102,0,1478280
1521783,3226,145107,116252,435.32,5,75,Y,8,NaN,NaN,...,0,13,102338.0,192,90135,N,1458,102,0,661087
1521784,6769,162168,93598,1.38,5,75,Y,8,NaN,NaN,...,0,29,234618.0,373,79246,N,5817,102,0,167073
1521785,6032,45406,197460,1.38,5,75,Y,2,NaN,NaN,...,0,24,215218.0,373,79246,N,5817,102,0,338215
1521786,6716,48723,176440,406.59,5,75,N,5,NaN,NaN,...,0,13,163603.0,251,69607,N,2310,102,0,1055258

(421665, 22)

,acqic,bacno,cano,conam,contp,csmcu,ecfg,etymd,flbmk,flg_3dsmk,...,iterm,locdt,loctm,mcc,mchno,ovrlt,scity,stocn,stscd,txkey
0,6881,163188,116799,513.80,5,0,N,0,N,N,...,0,102,215328.0,457,59360,N,0,102,0,592489
1,6881,163188,116799,513.80,5,0,N,0,N,N,...,0,102,222007.0,457,59360,N,0,102,0,592452
2,6881,163188,116799,513.80,5,0,N,0,N,N,...,0,100,170013.0,457,59360,N,0,102,0,590212
3,6881,163188,116799,513.80,5,0,N,0,N,N,...,0,100,165914.0,457,59360,N,0,102,0,590209
4,6881,163188,116799,513.80,5,0,N,0,N,N,...,0,102,215311.0,457,59360,N,0,102,0,592488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421660,5975,147326,79511,633.76,5,62,N,2,N,N,...,0,116,111228.0,343,87282,N,5817,102,0,1187507
421661,6716,14305,136493,952.84,5,62,N,5,N,N,...,0,107,85839.0,245,48784,N,5859,102,0,1182598
421662,5975,156543,137963,713.42,5,62,N,4,N,N,...,0,111,184921.0,263,98326,N,5817,102,0,898724
421663,6231,156543,137964,903.94,5,62,N,5,N,N,...,0,114,144434.0,251,17763,N,5817,102,0,971467
421664,6769,131985,98699,760.09,5,62,N,4,N,N,...,0,116,162804.0,251,78019,N,3294,102,0,101230

In [13]:
## 缺值及unique數量檢查
print('df_train: ', len(df_train))
df_train.isnull().sum()
df_train = df_train.fillna('None')
for c in df_train.columns:
    print(c, ': ', np.unique(df_train[c].values), ' #', len(np.unique(df_train[c].values)))

print('df_test: ', len(df_test))
df_test.isnull().sum()
df_test = df_test.fillna('None')
for c in df_test.columns:
    print(c, ': ', np.unique(df_test[c].values), ' #', len(np.unique(df_test[c].values)))

df_train:  1521787

acqic        0
bacno        0
cano         0
conam        0
contp        0
csmcu        0
ecfg         0
etymd        0
flbmk        0
flg_3dsmk    0
fraud_ind    0
hcefg        0
insfg        0
iterm        0
locdt        0
loctm        0
mcc          0
mchno        0
ovrlt        0
scity        0
stocn        0
stscd        0
txkey        0
dtype: int64

acqic :  [   0    1    2 ... 6882 6883 6884]  # 6051
bacno :  [     1      2      3 ... 163882 163883 163884]  # 95214
cano :  [     0      1      2 ... 213328 213329 213334]  # 129413
conam :  [0.00000e+00 1.00000e-02 2.00000e-02 ... 6.93647e+03 7.19584e+03
 7.20877e+03]  # 72961
contp :  [0 1 2 3 4 5 6]  # 7
csmcu :  [ 0  1  2  3  4  5  6  7  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
 50 51 52 53 54 55 56 57 59 60 61 62 63 64 66 67 68 69 70 71 72 73 74 75]  # 72
ecfg :  ['N' 'Y']  # 2
etymd :  [ 0  1  2  3  4  5  6  7  8  9 10]  # 11
flbmk :  ['N' 'None' 'Y']  # 3
flg_3dsmk :  ['N' 'None' 'Y']  # 3
fraud_ind :  [0 1]  # 2
hcefg :  [0 1 2 3 5 6 7 8 9]  # 9
insfg :  ['N' 'Y']  # 2
iterm :  [0 1 2 3 4 5 6 7 8]  # 9
locdt :  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72
 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90]  # 90
loctm :  [0.00000e+00 1.00000e+00 2.00000e+00 ... 2.35957e+05 2.35958e+05
 2.35959e+05]  # 84810
mcc :  [  0   1   2   3   4   5   6   7   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  29  30  31  32  33  34  35  36  37
  39  41  42  43  44  45  47  48  49  50  51  52  53  54  55  56  57  58
  59  60  61  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
  78  79  80  81  83  84  85  86  87  88  89  90  91  92  93  95  96  97
  98  99 101 102 103 104 105 106 108 109 111 112 113 114 115 116 117 118
 119 120 121 122 123 124 125 127 128 129 130 131 133 134 135 136 137 138
 139 140 141 142 143 144 145 147 148 149 150 151 153 155 156 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 175 176 177 178 179 180
 181 183 184 186 187 188 189 190 191 192 193 195 196 197 198 200 201 202
 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220
 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238
 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256
 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274
 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 291 292 293
 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311
 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329
 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 348
 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366
 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384
 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402
 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420
 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438
 439 440 441 442 444 445 446 447 448 449 450 451 452 453 454 455 456 457
 458 459]  # 434
mchno :  [     0      1      2 ... 103305 103306 103307]  # 89316
ovrlt :  ['N' 'Y']  # 2
scity :  [   0    1    3 ... 6667 6669 6671]  # 5698
stocn :  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  22  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55
  56  57  59  60  61  62  63  64  65  67  68  69  70  71  72  73  74  75
  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93
  94  95  96  97  98  99 100 101 102 104 105 106 107]  # 103
stscd :  [0 1 2 3 4]  # 5
txkey :  [      0       1       2 ... 1958237 1958238 1958239]  # 1521787
df_test:  421665

acqic        0
bacno        0
cano         0
conam        0
contp        0
csmcu        0
ecfg         0
etymd        0
flbmk        0
flg_3dsmk    0
hcefg        0
insfg        0
iterm        0
locdt        0
loctm        0
mcc          0
mchno        0
ovrlt        0
scity        0
stocn        0
stscd        0
txkey        0
dtype: int64

acqic :  [   0    1    3 ... 6882 6883 6884]  # 3748
bacno :  [     0      5      6 ... 163881 163885 163886]  # 71099
cano :  [     6     12     13 ... 213571 213572 213575]  # 86808
conam :  [0.00000e+00 4.00000e-02 8.00000e-02 ... 5.46750e+03 5.74538e+03
 6.72897e+03]  # 31977
contp :  [0 1 2 3 4 5 6]  # 7
csmcu :  [ 0  3  4  8 10 12 13 14 16 17 18 20 21 22 23 24 25 26 27 29 31 32 33 35
 36 37 38 40 41 42 43 44 45 47 48 49 50 51 52 53 54 56 58 59 60 61 62 65
 66 67 69 70 71 72 73 74 75]  # 57
ecfg :  ['N' 'Y']  # 2
etymd :  [ 0  1  2  3  4  5  6  7  8  9 10]  # 11
flbmk :  ['N' 'None' 'Y']  # 3
flg_3dsmk :  ['N' 'None' 'Y']  # 3
hcefg :  [0 1 2 3 4 5 6 7 8 9]  # 10
insfg :  ['N' 'Y']  # 2
iterm :  [0 1 2 3 4 5 6 7 8]  # 9
locdt :  [ 91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120]  # 30
loctm :  [0.00000e+00 1.00000e+00 2.00000e+00 ... 2.35957e+05 2.35958e+05
 2.35959e+05]  # 75210
mcc :  [  0   2   3   4   5   6   7   8   9  11  13  14  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30  31  34  35  36  38  39  40  43
  44  45  46  48  49  51  52  53  54  55  57  58  59  60  61  62  65  66
  68  69  70  71  72  73  74  75  76  77  78  79  80  82  83  84  85  86
  87  88  89  90  92  93  94  96  97  98  99 100 102 103 105 106 107 110
 113 115 116 119 120 122 123 126 128 129 132 135 146 149 150 151 152 154
 155 156 157 158 159 160 161 164 168 172 173 174 177 179 180 181 182 183
 185 189 190 191 192 193 194 195 196 197 198 199 200 201 203 205 206 207
 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 224 225 226
 227 228 229 230 231 233 234 237 238 239 240 241 242 243 244 245 246 247
 248 250 251 252 253 254 255 257 258 259 260 261 262 263 264 265 266 267
 268 269 270 271 272 273 274 275 276 277 278 279 280 281 283 284 285 286
 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304
 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322
 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340
 341 342 343 345 347 348 349 350 351 352 353 354 356 357 358 359 360 362
 363 364 365 366 367 368 370 371 372 373 374 375 376 377 378 379 380 381
 383 384 385 386 388 389 390 392 393 394 396 397 398 399 400 401 402 403
 404 405 406 407 408 409 410 411 412 413 414 415 417 419 420 421 422 423
 424 425 426 427 428 429 430 431 432 433 434 435 437 440 441 443 444 445
 446 447 448 449 451 452 453 454 456 457 458 459]  # 372
mchno :  [     0      1      7 ... 103299 103303 103307]  # 45501
ovrlt :  ['N' 'Y']  # 2
scity :  [   0    1    2 ... 6667 6668 6670]  # 2857
stocn :  [  0   1   2   4   5   6   7   8  10  11  14  16  17  19  20  21  23  25
  26  27  28  30  31  32  34  35  36  37  38  39  40  41  42  43  44  45
  46  47  48  49  50  51  52  54  55  58  60  61  62  63  64  66  67  68
  69  71  72  73  75  76  77  78  80  81  82  83  84  85  87  88  89  90
  91  92  93  94  95  96  98 101 102 103 104 105 106 107 108]  # 87
stscd :  [0 1 2 3 4]  # 5
txkey :  [  44566   44567   44568 ... 1959016 1959017 1959018]  # 421665

In [14]:
## feature分類
nonNum_features = []
for feature in df_train.columns:
    try:
        if df_train[feature].dtype == object:
            nonNum_features.append(feature)
    except TypeError as e:
        print(e)

print(f'{len(nonNum_features)} Non-num Features : {nonNum_features}\n')

Num_features = []
for feature in df_train.columns:
    try:
        if (df_train[feature].dtype == int) or (df_train[feature].dtype == float):
            Num_features.append(feature)
    except TypeError as e:
        print(e)

print(f'{len(Num_features)} Num Features : {Num_features}\n')

5 Non-num Features : ['ecfg', 'flbmk', 'flg_3dsmk', 'insfg', 'ovrlt']

18 Num Features : ['acqic', 'bacno', 'cano', 'conam', 'contp', 'csmcu', 'etymd', 'fraud_ind', 'hcefg', 'iterm', 'locdt', 'loctm', 'mcc', 'mchno', 'scity', 'stocn', 'stscd', 'txkey']

In [71]:
## simple feature selection
df_train_backup = df_train.copy()
# df_train = df_train_backup.copy()
df_train = df_train[['txkey','acqic', 'csmcu','hcefg','etymd','scity','ecfg','mcc','iterm', 'insfg','stocn','flg_3dsmk','flbmk','fraud_ind']]

df_test_backup = df_test.copy()
# df_test = df_test_backup.copy()
df_test = df_test[['txkey','acqic', 'csmcu','hcefg','etymd','scity','ecfg','mcc','iterm', 'insfg','stocn','flg_3dsmk','flbmk']]

In [15]:
## Label Encoding
# labelencoder = LabelEncoder()
# for i in nonNum_features:
#     try:
#         if (len(df_train[i])>0):
#             df_train[i] = labelencoder.fit_transform(df_train[i])
#     except:
#         print(i)

# for i in nonNum_features_t:
#     try:
#         if (len(df_test[i])>0):
#             df_test[i] = labelencoder.fit_transform(df_test[i])
#     except:
#         print(i)


## One hot encoding
df_train = pd.get_dummies(df_train)
df_train
df_test = pd.get_dummies(df_test)
df_test

# specific
# df_train = df_train.drop(['flg_3dsmk_None','flbmk_Y'],axis=1)
# df_train
# df_test = df_test.drop(['flg_3dsmk_None','flbmk_Y'],axis=1)
# df_test

,acqic,bacno,cano,conam,contp,csmcu,etymd,fraud_ind,hcefg,iterm,...,flbmk_N,flbmk_None,flbmk_Y,flg_3dsmk_N,flg_3dsmk_None,flg_3dsmk_Y,insfg_N,insfg_Y,ovrlt_N,ovrlt_Y
0,6881,113261,38038,513.80,5,0,0,0,5,0,...,1,0,0,1,0,0,1,0,1,0
1,0,134508,45725,465.62,5,0,2,0,0,0,...,1,0,0,1,0,0,1,0,1,0
2,6881,15408,188328,513.80,5,0,0,0,5,0,...,1,0,0,1,0,0,1,0,1,0
3,6716,157159,29967,1016.11,5,62,5,0,5,0,...,1,0,0,1,0,0,1,0,1,0
4,5975,105985,81305,713.66,5,62,4,0,5,0,...,1,0,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521782,6322,91008,15189,578.38,5,75,8,0,6,0,...,0,1,0,0,1,0,1,0,1,0
1521783,3226,145107,116252,435.32,5,75,8,0,6,0,...,0,1,0,0,1,0,1,0,1,0
1521784,6769,162168,93598,1.38,5,75,8,0,6,0,...,0,1,0,0,1,0,1,0,1,0
1521785,6032,45406,197460,1.38,5,75,2,0,6,0,...,0,1,0,0,1,0,1,0,1,0
1521786,6716,48723,176440,406.59,5,75,5,0,6,0,...,0,1,0,0,1,0,1,0,1,0

,acqic,bacno,cano,conam,contp,csmcu,etymd,hcefg,iterm,locdt,...,flbmk_N,flbmk_None,flbmk_Y,flg_3dsmk_N,flg_3dsmk_None,flg_3dsmk_Y,insfg_N,insfg_Y,ovrlt_N,ovrlt_Y
0,6881,163188,116799,513.80,5,0,0,5,0,102,...,1,0,0,1,0,0,1,0,1,0
1,6881,163188,116799,513.80,5,0,0,5,0,102,...,1,0,0,1,0,0,1,0,1,0
2,6881,163188,116799,513.80,5,0,0,5,0,100,...,1,0,0,1,0,0,1,0,1,0
3,6881,163188,116799,513.80,5,0,0,5,0,100,...,1,0,0,1,0,0,1,0,1,0
4,6881,163188,116799,513.80,5,0,0,5,0,102,...,1,0,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421660,5975,147326,79511,633.76,5,62,2,5,0,116,...,1,0,0,1,0,0,1,0,1,0
421661,6716,14305,136493,952.84,5,62,5,8,0,107,...,1,0,0,1,0,0,1,0,1,0
421662,5975,156543,137963,713.42,5,62,4,5,0,111,...,1,0,0,1,0,0,1,0,1,0
421663,6231,156543,137964,903.94,5,62,5,5,0,114,...,1,0,0,1,0,0,1,0,1,0
421664,6769,131985,98699,760.09,5,62,4,5,0,116,...,1,0,0,1,0,0,1,0,1,0

In [16]:
## dataset split
train_Y = df_train[['fraud_ind']]
df_train_copy = df_train.drop(['fraud_ind'],axis=1)
# df_test_copy = df_test.drop(['txkey'],axis=1)


train_X_values = df_train_copy.values
train_x, val_x, train_y, val_y = train_test_split(train_X_values, train_Y, test_size=0.45, random_state=560, shuffle=True)
train_x

test_x = df_test.values
test_x

array([[6.18900e+03, 1.22085e+05, 1.08032e+05, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [6.77700e+03, 6.26460e+04, 5.62240e+04, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [6.76900e+03, 7.77700e+04, 9.09300e+04, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       ...,
       [5.97500e+03, 1.46232e+05, 1.98658e+05, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [5.97500e+03, 1.33026e+05, 1.65796e+05, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [6.71600e+03, 9.95560e+04, 1.35022e+05, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00]])

array([[6.88100e+03, 1.63188e+05, 1.16799e+05, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [6.88100e+03, 1.63188e+05, 1.16799e+05, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [6.88100e+03, 1.63188e+05, 1.16799e+05, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       ...,
       [5.97500e+03, 1.56543e+05, 1.37963e+05, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [6.23100e+03, 1.56543e+05, 1.37964e+05, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00],
       [6.76900e+03, 1.31985e+05, 9.86990e+04, ..., 0.00000e+00,
        1.00000e+00, 0.00000e+00]])

In [17]:
# RandomizedSearchCV - https://medium.com/@hjhuney/implementing-a-random-forest-classification-model-in-python-583891c99652

rf = RandomForestClassifier()

n_estimators = [int(x) for x in np.linspace(start=10, stop=60, num=10)]
min_samples_split = [int(x) for x in np.linspace(start=2, stop=20, num=10)]
min_samples_leaf = [int(x) for x in np.linspace(start=2, stop=200, num=10)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(3, 12, num=10)]
max_depth.append(None)

class_weight = [
    {0: 1., 1: 70.},
    {0: 1., 1: 60.},
    {0: 1., 1: 50.},
    {0: 1., 1: 40.},
    {0: 1., 1: 30.}
]

random_grid = {
    'n_estimators': n_estimators,
    'min_samples_split': min_samples_split,
    'min_samples_leaf': min_samples_leaf,
    'max_features': max_features,
    'max_depth': max_depth,
    'class_weight': class_weight
 }

rf_random = RandomizedSearchCV(estimator=rf, param_distributions=random_grid, n_iter=100, cv=3, verbose=2, random_state=42, n_jobs=-1)
rf_random.fit(train_x, train_y)
print(rf_random.best_params_)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed: 18.5min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed: 41.0min finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators='warn',
                                                    n_jobs=None,
                                                    oob_sc...
                                                         {0: 1.0, 1: 40.0},
                                                         {0: 1.0, 1: 30.0}],
                                        'max_depth': [3, 4, 5, 6, 7, 8, 9, 10,
                                                      11, 12, None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [2, 224, 446, 668,
                                                             890, 1112, 1334,
                                                             1556, 1778, 2000],
                                        'min_samples_split': [2, 4, 6, 8, 10,
                                                              12, 14, 16, 18,
                                                              20],
                                        'n_estimators': [10, 15, 21, 26, 32, 37,
                                                         43, 48, 54, 60]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

{'n_estimators': 15, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'sqrt', 'max_depth': None, 'class_weight': {0: 1.0, 1: 60.0}}

In [46]:
## use RandomizedSearchCV's best result 
rfc = RandomForestClassifier(n_estimators=15, min_samples_split=2, min_samples_leaf=2, max_depth=None, max_features='sqrt', class_weight={0: 1.0, 1:60.0})
rfc.fit(train_x, train_y)
rfc_predict = rfc.predict(val_x)
# rfc_predict_proba = rfc.predict_proba(val_x)
rfc_cv_score = cross_val_score(rfc, train_X_values, train_Y, cv=10, scoring='f1')
# for j in np.arange(0.4,0.6,0.01):
#     val_y_pred_binary = []
#     for i in rfc_predict_proba[:,1]:
#         val_y_pred_binary.append((1. if i > j else 0.))

# for i in np.arange(0.1, 0.3, 0.01):
#     val_x['predict_binary'] = np.where((val_x['predict_proba'] > i), 1., 0.)

#     f1 = f1_score(y_true=val_y.fraud_ind, y_pred=val_y_pred_binary)
#     print('F1 Score: {:.3f}'.format(f1), ' ', j)

print("=== Confusion Matrix ===")
print(confusion_matrix(val_y, rfc_predict))
print('\n')
print("=== Classification Report ===")
print(classification_report(val_y, rfc_predict))
print('\n')
print("=== All F1 Scores ===")
print(rfc_cv_score)
print('\n')
print("=== Mean F1 Score ===")
print("Mean AUC Score - Random Forest: ", rfc_cv_score.mean())

RandomForestClassifier(bootstrap=True, class_weight={0: 1.0, 1: 60.0},
                       criterion='gini', max_depth=None, max_features='sqrt',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=2,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=15, n_jobs=None, oob_score=False,
                       random_state=None, verbose=0, warm_start=False)

=== Confusion Matrix ===
[[672854   2664]
 [  2916   6371]]


=== Classification Report ===
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    675518
           1       0.71      0.69      0.70      9287

    accuracy                           0.99    684805
   macro avg       0.85      0.84      0.85    684805
weighted avg       0.99      0.99      0.99    684805



=== All F1 Scores ===
[0.73419575 0.74733785 0.73352855 0.73678963 0.7510303  0.73987578
 0.7420529  0.71813547 0.73881888 0.7232454 ]


=== Mean F1 Score ===
Mean AUC Score - Random Forest:  0.7365010508413043

In [47]:
# output result
# test_y_pred = rfc.predict_proba(test_x)
# df_test['predict_proba'] = test_y_pred[:, 1]
# df_test['predict_binary'] = np.where((df_test['predict_proba'] > 0.52), 1., 0.)
# print(df_test.shape)

test_y_pred = rfc.predict(test_x)
df_test['predict_binary'] = test_y_pred
print(df_test.shape)
df_test

output = pd.concat((df_test[['txkey']], df_test['predict_binary']), axis=1)
print(output.shape)
output

(421665, 31)

,acqic,bacno,cano,conam,contp,csmcu,etymd,hcefg,iterm,locdt,...,flbmk_Y,flg_3dsmk_N,flg_3dsmk_None,flg_3dsmk_Y,insfg_N,insfg_Y,ovrlt_N,ovrlt_Y,predict_binary,predict_proba
0,6881,163188,116799,513.80,5,0,0,5,0,102,...,0,1,0,0,1,0,1,0,0,0.071805
1,6881,163188,116799,513.80,5,0,0,5,0,102,...,0,1,0,0,1,0,1,0,0,0.071805
2,6881,163188,116799,513.80,5,0,0,5,0,100,...,0,1,0,0,1,0,1,0,0,0.005690
3,6881,163188,116799,513.80,5,0,0,5,0,100,...,0,1,0,0,1,0,1,0,0,0.005690
4,6881,163188,116799,513.80,5,0,0,5,0,102,...,0,1,0,0,1,0,1,0,0,0.071805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421660,5975,147326,79511,633.76,5,62,2,5,0,116,...,0,1,0,0,1,0,1,0,0,0.000000
421661,6716,14305,136493,952.84,5,62,5,8,0,107,...,0,1,0,0,1,0,1,0,0,0.000000
421662,5975,156543,137963,713.42,5,62,4,5,0,111,...,0,1,0,0,1,0,1,0,0,0.000000
421663,6231,156543,137964,903.94,5,62,5,5,0,114,...,0,1,0,0,1,0,1,0,0,0.000000
421664,6769,131985,98699,760.09,5,62,4,5,0,116,...,0,1,0,0,1,0,1,0,0,0.000000

(421665, 2)

          txkey  predict_binary
0        592489               0
1        592452               0
2        590212               0
3        590209               0
4        592488               0
...         ...             ...
421660  1187507               0
421661  1182598               0
421662   898724               0
421663   971467               0
421664   101230               0

[421665 rows x 2 columns]

In [48]:
out = output.groupby('txkey', as_index=False).mean()
out = out[['txkey', 'predict_binary']]
out.columns = ['txkey', 'fraud_ind']
out.to_csv('output_191026_5_rfc_predict_allFeature_cate-oneHot.csv')
out

          txkey  fraud_ind
0         44566          0
1         44567          0
2         44568          0
3         44569          0
4         44570          0
...         ...        ...
421660  1959014          0
421661  1959015          0
421662  1959016          0
421663  1959017          0
421664  1959018          0

[421665 rows x 2 columns]